<h1>Convert <%=@cde%> to <%=@cdetwo%> </h1>

    <% @simbfinal.each do |prinfinal|%>
      <%@lisfinal = prinfinal.at(1)%>
    <%end%>

<p>1 <%=@cde%> equals <%=@lisfinal%> <%=@cdetwo%></p>

<p>Go <a href="/">back</a>.</p>
